@import "reset.css";
@import "header.css";
@import "footer.css";
@import "main.css";
/* import로 나머지 css를 연결시켜주면 html에 style.css만 link로 연결해도 됨 */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Apple SD Gothic Neo",
    "Pretendard Variable", Pretendard, Roboto, "Noto Sans KR", "Segoe UI",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

.media-info-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: salmon;
  opacity: 1;
}

@media screen and (max-width: 410px) {
  .media-info-msg {
    opacity: 0;
  }
}
