main {
  padding: 20px 10px 90px 10px;
}

.item-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border-bottom: 1px solid #ededef; */
  margin-left: 40px;
}

.item-list__img {
  width: 130px;
  height: 130px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* rgba => a 는 투명도 -> 즉 투명도가 0.1인 블랙*/
  border-radius: 12px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.item-list__img img {
  width: 100%;
  height: 100%;
}
.item-list__info {
  width: 200px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.item-list__info div {
  margin-top: 10px;
}

.item-list__info-meta {
  font-size: smaller;
  color: rgba(0, 0, 0, 0.3);
}

.item-list__info-price {
  font-weight: bold;
}

.write-button {
  position: fixed;
  bottom: 100px;
  right: 15px;
  background-color: var(--button-primary);
  color: white;
  padding: 15px 18px 15px 18px;
  border-radius: 25px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  /* html에서 a 태그를 쓰면서 아래 밑줄이 들어가서 그거 없애주려면 none */
}
.write-button:hover {
  background-color: var(--button-hover);
}
